/*Start Global Rules*/
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
margin: 0;
}

body{
    font-family: Arial, Helvetica;
}


.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}


/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Global */



/* Start Header */



.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}



@media (max-width:992px){
    .header ul{
        display: none;
    }
    #nav-title{
        text-align: center;
    }
    .header .container{
    display: block;
}
}

.header li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

.header a {
    text-decoration: none;
    color: #555;
    transition: all 0.3s ease 0s;
    font-weight: 700;
}

.header a:hover {
    color: #ff6918;
}


/* End Header*/





/* start landing*/


.landing {
padding-top: 5px;
padding-bottom: 30px;
}

.landing .con {
display: grid;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  gap: 7px;
}
.landing .con > div{
height: 300px;
  position: relative;

}


.land1{
background-image: url("https://images.pexels.com/photos/38537/woodland-road-falling-leaf-natural-38537.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");    background-size: cover;
    position: relative;
         background-size: cover;
}

.land2{
background-image: url("https://cdn.nimbusthemes.com/2017/09/09233341/Free-Nature-Backgrounds-Seaport-During-Daytime-by-Pexels.jpeg");  background-size: cover;
  position: relative;
      background-size: cover;


}


.land3 {
background-image: url("https://lh3.googleusercontent.com/8WXv-cTMXE6zNLKnn0ukqj2YvP4mxMSVMIlXCqfPhidcJLGpZfCzl4TdMiZNRj-QCLo8s9Q1BCWBX5LULOdMQbJXwg=w640-h400-e365-rj-sc0x00ffffff");  background-size: cover;
  position: relative;
      background-size: cover;

}

.landing .con .landing-text{
    color: white;
position: absolute;
left: 22px;
top: 174px;
max-width: 100%;

}




/* End landing*/



/*Start Container2*/


.container2{
padding-top: 30px;
padding-bottom: 30px;
margin: 0;
}

.container2 .con{
    display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  column-gap: 190px;
  background-color:rgb(6, 7, 24);
padding: 40px;
position: relative;
}

.container2 .container .container2_text{
    color: white;
}

.container2 .container .container2_text h4{
    padding-bottom: 10px;
}

.container2 .container a{
    position: absolute;
    right: 50px;
    top: 42px;
    max-width: 100%;
}

.container2 .container .div{
    max-width: 100%;
}

@media (max-width:992px){
.container2 .container .div{
        display: none;
    }
    .container2 .container .container2_text{
        text-align: center;
    }
    .container2 .container{
    display: block;
}
}


.readmoree {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    padding: 14px 48px;
    text-decoration: none;
    color: #ffffff !important;
    cursor: pointer;
    background-image: linear-gradient(to right, #ff6918, #f43702);
    letter-spacing: 2px;
    border-style: none;
    font-weight: 600;
}

.readmoree:hover {
        background-image: linear-gradient(to right, #6c738a, #6c738a);
}



/*End Container2*/


/*Start Container 3*/


.container3{
padding-top: 60px;
padding-bottom: 60px;
}


.container3 .container{
    display: flex;
justify-content: space-between;
}


/*part 1 */

.container3 .container .container3_main{
    background-color: #eee;
    margin-bottom: 15px;
}

.part1{
    flex-basis: 70%;
    max-width: 100%;
}

.part1 .part1_info{
    padding: 30px;
}

.part1 .part1_info h2,h4,p{
    padding-bottom: 10px;
}
.part1 .part1_info hr{

    width: 70%;
    display: inline-block;
    
}

.part1 .part1_info #parag{
    padding-top:10px ;
}

#flex_icons{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

#flex_icons:first-child{
flex-basis: 75%;
}

#flex_icons:last-child{
flex-basis: 25%;
}

.container3 .container .part1 img{
    max-width: 100%;
}


.icon-pricetag-multiple , .icon-share-alt {
    color: #ff6918;
}


  .sumbit{
    font-size: 16px;
    font-family: "Open Sans",sans-serif ;
    text-transform: uppercase;
    text-align: center;
    padding:18px ; 
    width:100%;
    max-width: 100%;
    text-decoration: none;
    color: #ffffff !important;
    display: table;
    cursor: pointer;
    background-image: linear-gradient(to right, #ff6918, #f43702); 
       letter-spacing: 2px;
      border-style: none;
font-weight: 600;
  }


/*End of PART 1*/






/* Start PART 2 */

.part2{
    flex-basis: 25%;
        max-width: 100%;

}

.part2 input{
    margin-bottom: 40px;
}


#search{
    padding: 10px;
        font-size: 17px;
        border: 1px solid rgb(190, 186, 186);
        float: left;
max-width: 100%;
width: 100%;
        background: transparent;
    }

.part2 h4,p{
    padding-bottom: 10px;
}

.part2 h4{
font-weight: 900;
}

.part2  hr{
    width: 70%;
    display: inline-block;
margin-bottom: 10px;
}

dd{
font-weight: 600;
padding:10px 0px ;
}

dl{
    margin-bottom: 10px;
}

.flex2{
    display: flex;
    flex-wrap: wrap;
    padding-top:10px;
}

.flex2 >div{
    color: black;
    background-color:#F8F8FF;
    border:0.1px solid rgb(229, 222, 222);
    text-align: center;
padding: 13px;
margin: 5px;
box-shadow: 1px 1px 1px 1px rgb(229, 222, 222);
max-width: 100%;
}


    @media (max-width:990px){
    .flex2 > div{
 padding: 3px;
    margin: 2px;}
}


@media (max-width:675px){
.part2 {
        display: none;
    }
    .part1{
flex-basis: 100%;    }
}

/* End PART 2 */

/*End Container 3*/




/*Start Footer*/

.footer {
    height: 130.8px;
    background-color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding-bottom: 10px;
}

.icons {
    display: flex;
}

.icons>div {
    margin-left: 30px;
}


/* End Footer */